
@{
    ViewBag.Title = "Events";
}
<h1 style="color:darkred;">Events</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<div class="jumbotron">
    <img src="~/Images/Events.jpg" class="responsive" />

</div>

<div class="row">
    <div class="col-md-4">
        <h3><hr>Killion: Morton Marcus Poetry Reading<hr></h3>
        <p><mark>(Available for both members and public)</mark></p>
        <p>
            THURSDAY, NOVEMBER 15, 2018 - 6:00PM TO 8:30PM
        </p>
        <img src="~/Images/Event1.png" class="responsive" />
        <p class="lead"></p>
    </div>
    <div class="col-md-4">
        <h3><hr>SPECIAL EVENT:An Evening with Rosemary Wells<hr></h3>
        <p><mark>(Members only)</mark></p>
        <p>
            FRIDAY, NOVEMBER 30, 2018 - 7:00PM
        </p>
        <img src="~/Images/Event2.png" class="responsive" />

    </div>
</div>