
@{
    ViewBag.Title = "OurStores";
}

<h1 style="color:darkred;">Store Location</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>


<div class="jumbotron">
    <img src="~/Images/Location.png" class="responsive" />
</div>

<h3><mark>Amanda Books (Store one)</mark></h3>
<p>Location: Jem</p>
<p>Address: 50 Gateway Dr, 04-23, Singapore 608549</p>
<p>Opening time - Closing time: 10:00 - 21:30</p>
<p>Contact number: 6430 0868</p>
<hr>

<h3><mark>Amanda Books (Main Store)</mark></h3>
<p>Location: Takashimaya</p>
<p>Address: 391 Orchard Rd, 04-20/20B/20C/20E, Singapore 238872</p>
<p>Opening time - Closing time: 10:00 - 21:30</p>
<p>Contact number: 6737 5021</p>
<hr>

<h3><mark>Amanda Books (Store Two)</mark></h3>
<p>Location: Liang Court</p>
<p>Address: 177 River Valley Road, #03-50 Liang Court, 179036</p>
<p>Opening time - Closing time: 10:00 - 21:30</p>
<p>Contact number: 6337 1300</p>


<h3><mark>Amanda Books (Store Three)</mark></h3>
<p>Location: Bugis Junction</p>
<p>Address:  200 Victoria St, #03-09 Bugis Junction, Singapore 18802</p>
<p>Opening time - Closing time: 10:00 - 21:30</p>
<p>Contact number: 6339 1790</p>

