
@{
    ViewBag.Title = "Children";
}

<h2>Children</h2>
<p>
    <a class="btn btn-primary" href="~/Book/Children" role="button">Children</a>
    <a class="btn btn-primary" href="~/Book/Nonfict" role="button">Non Fictional </a>
    <a class="btn btn-primary" href="~/Book/Tech" role="button">Technical  </a>
    <a class="btn btn-primary" href="~/Book/Fin" role="button">Financial</a>
</p>
<ul>
    @for (int i = 0; i < ViewBag.CustList.Count; i++)
    {

        <div class="col-xs-12 col-sm-6 col-md-4">

            <table>
                <tr>
                    <img src="@(String.Format("../../Images/{0}.jpg", ViewBag.custlist[i].ISBN))" width="300" height="350"></img>
                </tr>
                <br />
                <div style="text-align:right">
                    <tr>
                        <td>
                            <a href="Show/@ViewBag.CustList[i].BookID">
                                @ViewBag.CustList[i].Title
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>@ViewBag.CustList[i].Author</td>
                    </tr>
                </div>
            </table>
        </div>

    }
</ul>
