@*@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole*@

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<style type="text/css">
    #tbrole, .c {
        border: double;
    }
</style>

@using (Html.BeginForm())
{
    <table class="table table-bordered table-hover">
        <tr>
            <td class="c"> Enter Role Name To Be Created :</td>
            <td class="c">
                @Html.Editor("Name")
            </td>
        </tr>
    </table>
    <input type="Submit" value="Create Role" />
}
    <div>

        @Html.ActionLink("Back to List", "Index", "Role")
    </div>